@keyframes dr-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dr-parts {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dr-main-content-animation-out,
.dr-main-content-animation-in {
  animation: dr-content;
  animation-duration: 1s;
  animation-fill-mode: both;
  /* animation-iteration-count: infinite; */
}
.dr-main-content-animation-out {
  animation-direction: reverse;
}

.dr-parts-content-animation-out,
.dr-parts-content-animation-in {
  animation: dr-parts;
  animation-fill-mode: both;
  /* animation-iteration-count: infinite; */
}
.dr-parts-content-animation-out {
  animation-direction: reverse;
}
